<div *ngFor="let cat of CATEGORIES">
    <th>{{cat.tipo}}</th>
    <hr>
    <table datatable class="row-border hover">
        <thead>
            <tr>
                <th>Date</th>
                <th>Company</th>
                <th>Position</th>
                <th>Location</th>

            </tr>
        </thead>
        <tbody *ngFor="let job of jobs">
            <tr *ngIf="job.category.tipo === cat.tipo">
                <td>{{job.date}}</td>
                <td>{{job.company}}</td>
                <td>{{job.position}}</td>
                <td>{{job.location}}</td>
            </tr>

        </tbody>
    </table>
</div>