<!--
<div class="container">
    <h2>Posicion: {{job.position}}</h2>
    <p>Descripcion: {{job.description}} </p>
    <form action="" method="GET">
        <h3>Compañia: {{job.company}}</h3>
        <h3>Categoria: {{job.category.tipo}}</h3>
        <h3>Tipo: {{job.type}} </h3>
        <h3>Url: {{job.url}}</h3>
        <h3>Locacion: {{job.location}}</h3>
        <h3>Email: {{job.email}} </h3>
        <img src="job.logo" alt="Logo">
        <h3>Date: {{job.date}}</h3>
    </form>

</div>
-->


<div class="container mt-5">
    <h1 class="display-1" style="margin-left: 550px;">Job Detail</h1>
    <form action="" method="GET">



        <div class="form-group">
            <h1 class="display-4" for="company">Company:</h1>
            <br>
            <hr>
            <h2 name="company" [(ngModel)]="job.company">{{job.company}}</h2>
            <hr>
            <br>

        </div>

        <div class="form-group">
            <h1 class="display-4" for="position">Position:</h1>
            <br>
            <hr>
            <h2 name="position" [(ngModel)]="job.position">{{job.position}}</h2>
            <hr>
            <br>

        </div>

        <div class="form-group">
            <h1 class="display-4" for="description">Description:</h1>
            <br>
            <hr>
            <p class="h4" name="description" [(ngModel)]="job.description">{{job.description}}</p>
            <hr>
            <br>

        </div>

        <div class="form-group">
            <h1 class="display-4" for="category">Category:</h1>
            <br>
            <hr>
            <!--  <h2 name="category" [(ngModel)]="job.category.tipo">{{job.category.tipo}}</h2>  -->
            <hr>
            <br>

        </div>

        <div class="form-group">
            <h1 class="display-4" for="type">Type:</h1>
            <br>
            <hr>
            <h2 name="type" [(ngModel)]="job.type">{{job.type}}</h2>
            <hr>
            <br>

        </div>

        <div class="form-group">
            <h1 class="display-4" for="email">Email:</h1>
            <br>
            <hr>
            <h2 name="email" [(ngModel)]="job.compemail">{{job.compemail}}</h2>
            <hr>
            <br>

        </div>

        <div class="form-group">
            <h1 class="display-4" for="url">URL:</h1>
            <br>
            <hr>

            <h2 name="url" [(ngModel)]="job.url"> <a href={{job.url}} target="_blank">{{job.url}}</a></h2>
            <hr>
            <br>

        </div>

        <div class="form-group">
            <h1 class="display-4" for="date">Date:</h1>
            <br>
            <hr>


            <h2 name="url" [(ngModel)]="job.url"> {{job.date}}</h2>
            <hr>
            <br>

        </div>

        <div class="form-group">
            <h1 class="display-4">Logo</h1>
            <br>
            <hr>


            <img [src]="imageToShow">
            <hr>
            <br>

        </div>

       




    </form>
</div>
<!--

      <div class="form-group">
            <label for="tipo" class="control-label">Tipo: </label>
            <input type="text" id="tipo" class="col-md-5 form-control" name="tipo" [(ngModel)]="job.type" />
        </div>

        <div class="form-group">
            <label for="url" class="control-label">Url: </label>
            <input type="url" id="url" class="col-md-5 form-control" name="url" [(ngModel)]="job.url">
        </div>

        <div class="form-group">
            <label for="position" class="control-label">Position: </label>
            <input type="text" id="position" class="col-md-5 form-control" name="position" [(ngModel)]="job.position">
        </div>

        <div class="form-group">
            <label for="location" class="control-label">Location: </label>
            <input type="text" id="location" class="col-md-5 form-control" name="location" [(ngModel)]="job.location">
        </div>

        <div class="form-group">
            <label for="email" class="control-label">Email: </label>
            <input type="text" id="email" class="col-md-5 form-control" name="email" [(ngModel)]="job.email">
        </div>

        <div class="form-group">
            <label for="description" class="control-label">Descripcion: </label>
            <input type="text" id="description" class="col-md-5 form-control" name="description" [(ngModel)]="job.description">
        </div>

        <div class="form-group">
            <label for="date" class="control-label">Date: </label>
            <input type="datetime-local" id="date" name="date" [(ngModel)]="job.date" placeholder="yyyy-MM-ddTHH:mm:ss" min="2018-01-01T00:00:00" max="2021-12-31T00:00:00" required />
        </div>


        <div class="panel-footer">
            <button class="btn btn-primary" (click)="postJob()">Post</button>
        </div>


-->