#postJobButton {
    position: absolute;
    right: 50px;
    margin-bottom: 500px;
}

.titulo {
    font-size: 3.75em;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 750px;
}

#detailButton {
    width: 80px;
    height: 40px;
}

.list {
    margin-top: 25px;
    margin-left: 750px;
}