<div class="bg-container" style="position: relative;">
    <h1 class="titulo">Bolsa de Empleos</h1>
    <hr>
    <div class="mainmenu container">
        <div class="leftmenu">
            <input id="search" type="text">
            <button id="buttonSearch">Search</button>
        </div>
        <div class="rightmenu">
            <button id="signUpButton" class="btn btn-primary btn-md" (click)="signUp()">Sign Up</button>
            <button id="loginButton" class="btn btn-primary btn-md" (click)="login()">Login</button>
            <button id="postJobButton" class="btn btn-primary btn-md" (click)="postJob()">Post Job</button>
            <button id="adminPanelButton" class="btn btn-primary btn-md" (click)="adminPanel()">Admin Panel</button>
            <button id="logoutButton" class="btn btn-danger btn-md" (click)="logout()">Log Out</button>

        </div>

    </div>
    <div class="container" style="position: relative;">


        <div class="container mt-5" *ngFor="let cat of CATEGORIES">

            <h1>{{cat}}</h1>
            <hr>
            <table class="table" style="background-color: white;">
                <thead class="thead-dark">
                    <tr>

                        <th scope="col">Company</th>
                        <th scope="col">Position</th>
                        <th scope="col">Location</th>
                        <th scope="col">Detail</th>

                    </tr>
                </thead>
                <tbody *ngFor="let job of jobs | paginate: {id: cat, itemsPerPage: 2 , currentPage:p[cat]}">
                    <tr *ngIf="job.category.tipo === cat">

                        <td>{{job.company}}</td>
                        <td>{{job.position}}</td>
                        <td>{{job.location}}</td>
                        <td><button id="detailButton" class="btn btn-primary col-md-3" (click)="jobDetail(job._id)">Go</button></td>
                    </tr>

                </tbody>
            </table>
            <pagination-controls id={{cat}} (pageChange)="p[cat]=$event"></pagination-controls>
        </div>
    </div>
</div>